body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 2% 10%;
}

button {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background-color: maroon;
  cursor: pointer;
}

.active {
  background-color: maroon;
}

#tip-div {
  display: flex;
  width: 97%;
  padding: 1rem;
  background-color: rgb(252, 247, 223);
  color: darkgoldenrod;
  border-color: rgb(255, 202, 104);
  border-radius: 5px;
}

#wallet-manager {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}


#wallet-manager > div {
  margin: 5px 10px;
  margin-left: 0;
}

#wallet-id-div{
  flex-grow: 1;
  height: 80%;
  display: flex;
  padding: 1rem;
  background-color: rgb(248, 248, 248);
  color: black;
  border-color: rgb(238, 238, 238);
  border-radius: 5px;
  max-width: 97%;
}

#wallet-id{
  max-width: 100%;
  word-wrap: break-word;
}

#tip-div p, #wallet-id{
  margin:  auto 0px;
  font-size: 1rem;
}


#wallet-control{
  flex-grow: 1;

}

#funds-div{
  flex-grow: 0.5;
  display: flex;
  flex-direction: row;
}

#funds{
  margin-left: 10px;
}

hr {
  background-color: rgb(240, 240, 240);
  border-color: rgb(240, 240, 240);
  color: rgb(240, 240, 240);
  border: solid;
  width: 100%;
}

.hidden {
  display: none;
}

#transaction-card{
  display: flex;
  flex-direction: column;
}

#transaction-card > input{
  margin-bottom: 10px;
}